<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<div class="container">
        <!-- include header -->
        <%- include('include/_dashboardmenu') %>
        <!-- /include header -->
        <div class="form-title text-center">
            <h2 class="text-dark">Agregar Oferta Académica</h2>
            <p class="text-muted">Utilice el siguiente formulario para agregar una oferta académica.</p>
        </div>
        <form action="/oferta-academica/agregar" method="POST" class="form">
            <div class="form-group">
              <label for="institucion" class="text-light">Institución</label>
              <select id="institucion" name="institucion" required class="form-control">
                <option value="" disabled selected>Selecciona una institución</option>
                <% instituciones.forEach(function(institucion) { %>
                <option value="<%= institucion %>"><%= institucion %></option>
                <% }) %>
            </select>
              
            </div>
            <div class="form-group">
              <label for="carrera" class="text-light">Carrera</label>
              <input type="text" id="carrera" name="carrera" required placeholder="Ingrese el nombre de la carrera" class="form-control">
            </div>
            <div class="form-group">
                <label for="provincia" class="text-light">Provincia</label>
                <select id="province" name="province" class="form-control">
                  <option value="" disabled selected>Selecciona una provincia</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="ciudad" class="text-light">Ciudad</label>
                <select id="location" name="location" class="form-control">
                  <option value="" disabled selected>Selecciona una ciudad</option>
                </select>
            </div>
            <div class="form-group">
              <label for="jornada" class="text-light">Jornada</label>
              <select id="jornada" name="jornada" required class="form-control">
                <option value="">Selecciona una jornada</option>
                <% jornadas.forEach(function(jornada) { %>
                    <option value="<%= jornada %>"><%= jornada %></option>
                  <% }) %>
              </select>
            </div>
            <div class="form-group">
              <label for="modalidad" class="text-light">Modalidad</label>
              <select id="modalidad" name="modalidad" required class="form-control">
                <option value="">Selecciona una modalidad</option>
                <% modalidades.forEach(function(modalidad) { %>
                    <option value="<%= modalidad %>"><%= modalidad %></option>
                  <% }) %>
              </select>
            </div>
            <div class="form-group">
              <label for="area" class="text-light">Área</label>
              <select id="area" name="area" required class="form-control">
                <option value="">Selecciona un área</option>
                <% areas.forEach(function(area) { %>
                    <option value="<%= area %>"><%= area %></option>
                  <% }) %>
              </select>
            </div>
            <div class="form-group">
              <label for="tipo" class="text-light">Tipo</label>
              <select id="tipo" name="tipo" required class="form-control">
                <option value="">Selecciona un tipo</option>
                <% tipos.forEach(function(tipo) { %>
                    <option value="<%= tipo %>"><%= tipo %></option>
                  <% }) %>
              </select>
            </div>
            <div class="form-group">
                <label for="link" class="text-light">Link</label>
                <input type="text" id="link" name="link" required placeholder="Ingrese el enlace" class="form-control" readonly>
              </div>              
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary">Agregar Oferta Académica</button>
            </div>
          </form>
      
          
          <script>
              const provinciaSelect = document.getElementById('province');
              const ciudadSelect = document.getElementById('location');

              // Función para obtener las provincias desde el servidor
              async function obtenerProvincias() {
                try {
                  const response = await fetch('/api/provincias');
                  const provincias = await response.json();

                  // Agregar las opciones al select de provincias
                  provincias.forEach(provincia => {
                    const option = document.createElement('option');
                    option.value = provincia;
                    option.textContent = provincia;
                    provinciaSelect.appendChild(option);
                  });

                  // Llamar a la función para cargar las ciudades según la provincia seleccionada inicialmente
                  actualizarCiudades();
                } catch (error) {
                  console.error('Error al obtener las provincias:', error);
                }
              }

              // Función para obtener las ciudades de una provincia desde el servidor
              async function obtenerCiudades() {
                try {
                  const provinciaSeleccionada = provinciaSelect.value;
                  const response = await fetch(`/api/ciudades/${provinciaSeleccionada}`);
                  const ciudades = await response.json();

                  // Eliminar las opciones anteriores del select de ciudades
                  while (ciudadSelect.firstChild) {
                    ciudadSelect.removeChild(ciudadSelect.firstChild);
                  }

                  // Agregar las nuevas opciones al select de ciudades
                  ciudades.forEach(ciudad => {
                    const option = document.createElement('option');
                    option.value = ciudad;
                    option.textContent = ciudad;
                    ciudadSelect.appendChild(option);
                  });
                } catch (error) {
                  console.error('Error al obtener las ciudades:', error);
                }
              }

              // Función para actualizar las ciudades según la provincia seleccionada
              function actualizarCiudades() {
                obtenerCiudades();
              }

              // Llamar a la función para obtener las provincias desde el servidor
              obtenerProvincias();

              // Escuchar el evento de cambio en el campo de provincia
              provinciaSelect.addEventListener('change', actualizarCiudades);

          </script>
             

 <!--    <h2 class="text-dark mt-4">Agregar Oferta Académica desde Excel</h2>
        <form action="/oferta-academica/agregar-excel" method="POST" enctype="multipart/form-data" class="form">
            <div class="form-group">
                <label for="excelFile" class="text-light">Archivo Excel</label>
                <input type="file" id="excelFile" name="excelFile" required class="form-control-file">
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Agregar Oferta Académica desde Excel</button>
            </div>
        </form>-->
</div>

<script id="links" type="application/json"><%- links %></script>
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
