<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<h1>Estadísticas</h1>
<p class="page-description">Explora las estadísticas de los usuarios que han realizado nuestro Test Vocacional para determinar sus aptitudes académicas. Obtén información sobre las edades, ubicaciones y resultados del test para conocer las preferencias vocacionales de nuestros usuarios.</p>

<div class="container">
  <label for="provinceFilter">Provincia:</label>
  <select id="provinceFilter">
    <option value="">Todas</option>
    <% statsData.provinceStats.forEach(stat => { %>
      <option value="<%= stat._id %>"><%= stat._id %></option>
    <% }) %>
  </select>
</div>

<div class="container">
<!-- Cargar jQuery y jQuery UI desde un CDN -->
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

<label for="startDate">Fecha de inicio:</label>
<input type="text" id="startDate">

<label for="endDate">Fecha de finalización:</label>
<input type="text" id="endDate">
</div>
<script>
  // Inicializar los selectores de fechas utilizando jQuery UI
  $(function() {
    $("#startDate").datepicker();
    $("#endDate").datepicker();
  });
</script>



<div class="container">
  <div class="chart-container">
    <div class="chart" id="age-chart">
      <h2>Edades</h2>
      <canvas></canvas>
    </div>
  </div>

  <div class="chart-container">
    <div class="chart" id="province-chart">
      <h2>Provincia</h2>
      <canvas></canvas>
    </div>
  </div>

  <div class="chart-container">
    <div class="chart" id="location-chart">
      <h2>Ciudades</h2>
      <canvas></canvas>
    </div>
  </div>

  <div class="chart-container">
    <div class="chart" id="gender-chart">
      <h2>Género</h2>
      <canvas></canvas>
    </div>
  </div>

  <div class="result-description">
    <h1 class="centered">Interpretación del Resultado del Test</h1>
    <div class="chart" id="result-chart">
      <canvas></canvas>
    </div>
    <p>El resultado del test se basa en una escala del 0 al 4. A continuación, se proporciona una descripción general de cada resultado:</p>
    <ul>
      <li>
        <strong>0:</strong> El número 0 corresponde a actividades que van encaminadas hacia los aspectos administrativos, económicos y de organización. Las personas con este resultado tienen interés en generar riquezas mediante la planificación de procedimientos y el logro de objetivos de algún grupo de personas.
        <br>
        Carreras relacionadas: Contaduría Pública, Economía, Administración de Empresas, Mercadotecnia, Comercio Internacional, Ciencias Políticas, Derecho, Relaciones Industriales, Turismo.
      </li>
      <li>
        <strong>1:</strong> El número 1 se refiere a ser analítico como parte de la esencia de la persona. Estas personas se interesan en el diseño y construcción de mecanismos para satisfacer necesidades, facilitando la vida diaria. Tienen habilidades en el manejo de materiales para crear algo original y mejorar los avances científicos.
        <br>
        Carreras relacionadas: Ingeniería civil, Ingeniero Arquitecto, Ingeniería Industrial y de Sistemas, Ingeniería en Computación.
      </li>
      <li>
        <strong>2:</strong> El número 2 está relacionado con el bienestar y la mejora de la calidad de vida de otros. Estas personas encuentran motivación en ayudar a otros para que puedan lograr una salud física y mental. Les interesa la convivencia con la gente para conocer su comportamiento y alcanzar un objetivo determinado.
        <br>
        Carreras relacionadas: Enfermería, Pedagogía, Nutrición, Trabajo Social, Psicología, Sociología, Educación.
      </li>
      <li>
        <strong>3:</strong> El número 3 indica un interés en el desarrollo a través de la interacción con seres vivos y organismos. Estas personas desean conocer el funcionamiento de diversas sustancias y, si es necesario, buscar su equilibrio y restablecer el funcionamiento previo a una alteración. También se interesan en la modificación y preservación de componentes orgánicos y naturales.
        <br>
        Carreras relacionadas: Biología, Química, Ecología, Medicina, Veterinaria, Biotecnología, Ciencias Naturales.
      </li>
      <li>
        <strong>4:</strong> El número 4 refleja una pasión por el arte, la música, lo bello y lo estético. Estas personas destacan por su sensibilidad e imaginación. Utilizan su creatividad de manera visual o auditiva para comunicar ideas y emociones de forma atractiva.
        <br>
        Carreras relacionadas: Diseño Ambiental, Arquitectura, Ciencias y técnicas de la Comunicación, Artes, Comunicación Gráfica.
      </li>
    </ul>
  </div>
</div>


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
<script>
  $('#provinceFilter, #startDate, #endDate').on('change', function() {
  const selectedProvince = $('#provinceFilter').val();
  const startDate = $('#startDate').val();
  const endDate = $('#endDate').val();

  $('#province-chart').toggle(!selectedProvince);

  let queryString = '/stats';
  if (selectedProvince || startDate || endDate) {
    const params = new URLSearchParams();
    if (selectedProvince) params.set('province', selectedProvince);
    if (startDate) params.set('startDate', startDate);
    if (endDate) params.set('endDate', endDate);
    queryString += '?' + params.toString();
  }

  $.get(queryString, function(data) {
    updateChart('age-chart', 'Distribución de Edades', data.ageStats);
    updateChart('location-chart', 'Ubicación de los Usuarios', data.locationStats);
    updateChart('gender-chart', 'Género de los Usuarios', data.genderStats);
    updateChart('result-chart', 'Tendencia a esta area', data.resultStats);

    if (!selectedProvince) {
      const provinceChartData = data.provinceStats.map(stat => ({ _id: stat._id, count: stat.count }));
      updateChart('province-chart', 'Provincia', provinceChartData);
      const chart = Chart.getChart(document.getElementById('province-chart').querySelector('canvas'));
      chart.update();
    }
  });
});

function updateChart(chartId, chartLabel, chartData) {
  const chart = Chart.getChart(document.getElementById(chartId).querySelector('canvas'));
  chart.data.labels = chartData.map(stat => stat._id);
  chart.data.datasets[0].label = chartLabel;
  chart.data.datasets[0].data = chartData.map(stat => stat.count);
  chart.update();
}

</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Obtén los datos pasados desde el controlador
    const ageStats = <%- JSON.stringify(statsData.ageStats) %>;
    const provinceStats = <%- JSON.stringify(statsData.provinceStats) %>;
    const locationStats = <%- JSON.stringify(statsData.locationStats) %>;
    const genderStats = <%- JSON.stringify(statsData.genderStats) %>;
    const resultStats = <%- JSON.stringify(statsData.resultStats) %>;


    // Crea los gráficos utilizando Chart.js
    createChart('age-chart', 'Numero de usuarios de esta edad', ageStats);
    createChart('province-chart', 'Numero de usuarios de esta Provincia ', provinceStats);
    createChart('location-chart', 'Numero de usuarios de esta Ubicación ', locationStats);
    createChart('gender-chart', 'Numero de usuarios de este Género ', genderStats);
    createChart('result-chart', 'Numero de usuarios de esta area', resultStats);


    function createChart(chartId, chartLabel, chartData) {
      const canvas = document.getElementById(chartId).querySelector('canvas');
      const ctx = canvas.getContext('2d');

      
  // Ordena los datos por el campo "_id" de forma ascendente
  chartData.sort((a, b) => a._id - b._id);

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: chartData.map(stat => stat._id),
          datasets: [{
            label: chartLabel,
            data: chartData.map(stat => stat.count),
            backgroundColor: 'rgba(0, 123, 255, 0.8)',
            borderColor: 'rgba(0, 123, 255, 1)',
            borderWidth: 1
          }]
        },
        options: {
        responsive: true,
        scales: {
          y: {
            beginAtZero: true,
            grid: {
              drawBorder: false
            },
            title: {
              display: true,
              text: 'Número de usuarios'
            }
          },
          x: {
            grid: {
              display: false,
              drawBorder: false
            }
          }
        },
        plugins: {
          legend: {
            display: false
          },
          tooltip: {
            backgroundColor: 'rgba(0, 123, 255, 0.8)',
            bodyColor: '#fff',
            bodyAlign: 'center',
            bodySpacing: 4,
            titleFont: {
              weight: 'bold'
            },
            callbacks: {
              title: function (tooltipItem) {
                return tooltipItem[0].label;
              },
              label: function (tooltipItem) {
                return tooltipItem.parsed.y + ' usuarios';
              }
            }
          }
        }
      }
      });
    }
  });
</script>

<style>

#result-chart {
  width: 50%;
  margin: 0 auto;
}

#result-chart canvas {
  width: 100%;
  height: auto;
}


.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.container label {
  margin-right: 0.5rem;
}

.container select {
  height: 2rem;
}

.chart-container {
  flex-basis: calc(50% - 2rem);
  margin: 1rem;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 4rem;
  text-align: center;
}

.page-description {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-align: center;
  color: #777;
}

label {
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
}



</style>
