<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <%- include('include/_dashboardmenu') %>

        <div class="content">
            <h1>Usuarios</h1>
            <table id="usersTable" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Correo Electrónico</th>
                        <th>Género</th>
                        <th>Provincia</th>
                        <th>Ciudad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                    <tr>
                        <td><%= user._id %></td>
                        <td><%= user.name %></td>
                        <td><%= user.age %></td>
                        <td><%= user.email %></td>
                        <td><%= user.gender %></td>
                        <td><%= user.province %></td>
                        <td><%= user.location %></td>
                        <td>
                            <a href="/users/edit/<%= user._id %>">Editar</a>
                            <a href="/users/delete/<%= user._id %>">Eliminar</a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <button id="generateUsers">Rellenar 25 campos</button>

<script>
    const provinces = [
        { province: "Azuay", capital: "Cuenca" },
        { province: "Bolívar", capital: "Guaranda" },
        { province: "Cañar", capital: "Azogues" },
        { province: "Carchi", capital: "Tulcán" },
        { province: "Chimborazo", capital: "Riobamba" },
        { province: "Cotopaxi", capital: "Latacunga" },
        { province: "El Oro", capital: "Machala" },
        { province: "Esmeraldas", capital: "Esmeraldas" },
        { province: "Galápagos", capital: "Puerto Baquerizo Moreno" },
        { province: "Guayas", capital: "Guayaquil" },
        { province: "Imbabura", capital: "Ibarra" },
        { province: "Loja", capital: "Loja" },
        { province: "Los Ríos", capital: "Babahoyo" },
        { province: "Manabí", capital: "Portoviejo" },
        { province: "Morona Santiago", capital: "Macas" },
        { province: "Napo", capital: "Tena" },
        { province: "Orellana", capital: "Puerto Francisco de Orellana" },
        { province: "Pastaza", capital: "Puyo" },
        { province: "Pichincha", capital: "Quito" },
        { province: "Santa Elena", capital: "Santa Elena" },
        { province: "Santo Domingo de los Tsáchilas", capital: "Santo Domingo de los Colorados" },
        { province: "Sucumbíos", capital: "Nueva Loja" },
        { province: "Tungurahua", capital: "Ambato" },
        { province: "Zamora-Chinchipe", capital: "Zamora" }
    ];

    const genders = ["Masculino", "Femenino"];

    document.getElementById("generateUsers").addEventListener("click", () => {
        for (let i = 0; i < 25; i++) {
            const randomProvince = provinces[Math.floor(Math.random() * provinces.length)];
            
            fetch("/users/create", {
                method : 'POST',
                headers : {
                    'Content-Type' : 'application/json'
                },
                body : JSON.stringify({
                    resultadotest : 0,
                    name : `Name${i}`,
                    age : Math.floor(Math.random() * 100),
                    email : `example${i}@gmail.com`,
                    gender : genders[Math.floor(Math.random() * genders.length)],
                    province : randomProvince.province,
                    location : randomProvince.capital,
                    fecha : new Date(Math.floor(Math.random() * (new Date().getTime() - new Date("2022-01-01").getTime())) + new Date("2022-01-01").getTime())
                })
            });
        }
    });
</script>

        </div>
    </div>
</main>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->

<!-- Incluir estilos CSS de Data Tables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">

<!-- Incluir jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Incluir DataTables -->
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#usersTable').DataTable();
    });
</script>
